<table class="table table-responsive-sm" *ngIf="students">
  <thead class="thead-dark">
    <tr>
      <th (click)="orderTable('id')" scope="col"># <i *ngIf="columnFilter!='id'" class="fas fa-sort"></i>
        <app-sort *ngIf="columnFilter=='id'" [sortData]="{columnFilter:columnFilter, order:order}"></app-sort></th>
      <th (click)="orderTable('username')" scope="col">
        Username
        <i *ngIf="columnFilter!='username'" class="fas fa-sort"></i>
        <app-sort *ngIf="columnFilter=='username'" [sortData]="{columnFilter:columnFilter, order:order}"></app-sort>
      </th>
      <th (click)="orderTable('firstname')" scope="col">First Name <i *ngIf="columnFilter!='firstname'"
          class="fas fa-sort"></i>
        <app-sort *ngIf="columnFilter=='firstname'" [sortData]="{columnFilter:columnFilter, order:order}"></app-sort>
      </th>
      <th (click)="orderTable('lastname')" scope="col">Last Name <i *ngIf="columnFilter!='lastname'"
          class="fas fa-sort"></i>
        <app-sort *ngIf="columnFilter=='lastname'" [sortData]="{columnFilter:columnFilter, order:order}"></app-sort>
      </th>
      <th (click)="orderTable('age')" scope="col">Age <i *ngIf="columnFilter!='age'" class="fas fa-sort"></i>
        <app-sort *ngIf="columnFilter=='age'" [sortData]="{columnFilter:columnFilter, order:order}"></app-sort>
      </th>
      <th (click)="orderTable('career')" scope="col">Career <i *ngIf="columnFilter!='career'" class="fas fa-sort"></i>
        <app-sort *ngIf="columnFilter=='career'" [sortData]="{columnFilter:columnFilter, order:order}"></app-sort>
      </th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of students | sort:columnFilter:order">
      <td>{{item.id}}</td>
      <td>{{item.username}}</td>
      <td>{{item.firstname}}</td>
      <td>{{item.lastname}}</td>
      <td>{{item.age}}</td>
      <td>{{item.career}}</td>
      <td>
        <!-- <i class="fas fa-eye"></i> -->
        <i (click)="update(item)" class="fas fa-pencil-alt"></i>
        <i class="fas fa-trash" (click)="delete(item.id)"></i>
      </td>
    </tr>
  </tbody>
</table>
<!--<i class="fas fa-sort">-->
<style>
  th {
    cursor: pointer;
  }
</style>