<form [formGroup]="form">


  <div class="form-group">
    <label for="exampleInputEmail1">User name*</label>
    <input type="text" [ngClass]="{ 'is-invalid': !username.valid && hasSubmitted }" class="form-control"
      id="username" aria-describedby="Username" placeholder="Username" formControlName="username" >
    <small id="username" class="form-text text-muted">This has to be unique</small>
    <app-error [control]="username" [hasSubmitted]="hasSubmitted"></app-error>
  </div>


  <div class="form-group">
    <label for="exampleInputEmail1">First name*</label>
    <input type="text" [ngClass]="{ 'is-invalid': !firstname.valid  && hasSubmitted }" class="form-control "
      id="Firstname" aria-describedby="Firstname" placeholder="Firstname" formControlName="firstname">
    <app-error [control]="firstname" [hasSubmitted]="hasSubmitted"></app-error>

  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Last name*</label>
    <input [ngClass]="{ 'is-invalid': !lastname.valid  && hasSubmitted }" type="text" class="form-control"
      id="username" aria-describedby="Lastname" placeholder="Lastname" formControlName="lastname">
    <app-error [control]="lastname" [hasSubmitted]="hasSubmitted"></app-error>

  </div>


  <div class="form-group">
    <label for="exampleInputEmail1">Career*</label>
    <input [ngClass]="{ 'is-invalid': !career.valid  && hasSubmitted }" type="text" class="form-control"
      id="Career" aria-describedby="Career" placeholder="Career" formControlName="career">
    <app-error [control]="career" [hasSubmitted]="hasSubmitted"></app-error>

  </div>


  <div class="form-group">
    <label for="exampleInputEmail1">Age</label>
    <input [ngClass]="{ 'is-invalid': !age.valid  && hasSubmitted }" type="number" class="form-control" id="Age"
      aria-describedby="Age" placeholder="Age" formControlName="age">
    <app-error [control]="age" [hasSubmitted]="hasSubmitted"></app-error>

  </div>


  <button *ngIf="!isLoading"  (click)="saveStudent()" type="submit" class="btn btn-primary"><i class="fas fa-save"></i>{{formType.charAt(0) + formType.slice(1).toLowerCase()}}</button>
  <button *ngIf="isLoading" [disabled]="true" type="submit" class="btn btn-primary"><i class="fas fa-spin fa-sync"></i>{{formType.charAt(0) + formType.slice(1).toLowerCase()}}</button>



</form> 
